.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.showMore {
  color: var(--muted);
  background: var(--input);
  border-radius: 0.1rem;
  font-family: var(--font-mono);
  padding: 0.2rem 0.3rem;
  font-size: var(--text-2xs);
}
