.container {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
}

.titleSection {
  display: flex;
  justify-content: space-between;

  gap: 0.5rem;
  margin: 2rem 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.right {
  flex-direction: column;
  gap: 1rem;
  text-align: right;
}
